
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Ajibola Talabi</title>
    <link href="{% static '/css/main.css' %}" rel = "stylesheet" type= "text/css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class= "container">
        <div class ="row">
            <div class="col-md-3">
                <div class="card card-body h- 100 border-info" id="profile-wrapper" >
                    <img id="profile-pic" src= "{% static 'images/profile-pic.jpeg.jpeg' %}" >
                    <hr>
                    <h4> Hi my is Ajibola! </h4>
                    <p> I am Junior Python Developer that loves to learn new techical skills and being the best coder I can be! </p>
                    <a href="https://www.linkedin.com/in/ajibola-talabi-64a246116/" target="_blank">
                        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                    </a>
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/GitHub-Mark-32px.png' %}"></li>
					</ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info" >
                <h4> About Me </h4>
                <hr>
                <p> Developement first interested me when I was in the 4th grade and wanted to learn how to program so I could create video games. After a few months trying to learn, I found it to be harder than I thought. The process though, helped me realize that my interest for programming was real. I told myself that in a couple of years when I'm older I would give it another try. </p>

                <p>Fast foward to my sophmore college, I had to take a coding class for my environmental engineering degree, C++ for Engineers. This would be my first time coding since trying in the 4th grade. After taking that class I found that the interest was still there, but I thought it may be a little to late to start. </p>

                <p>Finally earlier this year, I decided to start self teaching myself starting with Python! My goal is to learn everything I can about Full-Stack Developement and in the next few years I hope to move into Data Science/MLE!</p>
                </div>
            </div>
        </div>
        <br>
        <div class ="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4> Skills </h4>
                    <hr>
                    <p> Proficient Keyboarding Skills </p>
                    <p>Proficient with Microsoft Office products</p>   
                    <p>Experience with C++/MATLAB/Python languages</p>
                    <p>Experience MySQL</p>
                    <p>Experience work in Numpy, Pandas & Matplotlib libraries </p>
                    <p>AWS Cloud Computing (EC2, S3, Lambda, Route 53, DynamoDB, CloudFormation, Beanstalk)</p>
                    <p>Django Framework</p> 
                    <p>Git/Github</p>
                    <p>Algorithm Design & Analysis</p>
                    <p>Data Structures</p>
                    <p>Experience working with APIs and Web scraping when APIs aren’t solution</p>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100" >
                    <h4> Certifications </h4>
                    <hr>
                    <p> Python for Data Science: Fundamentals (<a href="https://app.dataquest.io/view_cert/VFM5JXSJ0U790PS0CG0Z/">Click Here!</a>)</p>
                    <p>Python for Data Science: Intermediate (<a href="https://app.dataquest.io/view_cert/V69J41GCUA1F2OO6OWV1">Click Here!</a>)</p>   
                    <p>SQL Fundamentals (<a href="https://app.dataquest.io/view_cert/0ZRGXZI2CH8LZ2GWVV0B/">Click Here!</a>)</p>
                    <p>APIs and Web Scraping In Python (<a href="https://app.dataquest.io/view_cert/9D5IC9K6CSRR0BGBRPND">Click Here!</a>)</p>
                    <p>Udemy: Ultimate AWS Certified Solutions Architect Associate 2020 (<a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-4a22b2a9-aba6-469f-810c-68b94831f9c6.pdf">Click Here!</a>)</p>
                </div>
            </div>
        </div>
        <br>
        <div class ="row">
            <div class="col-md-6">
                <div class="card card-body h-100" >
                    <h4> Strengths </h4>
                    <hr> 
                    <p>Oral & Written Communication</p>
                    <p>Reliable & Consistent</p>
                    <p>Committed to Lifelong Learning</p>
                    <p>Team Building</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100" >
                    <h4> Education </h4>
                    <hr> 
                    <p>
                        Dataquest Bootcamp, Online, USA
                        Data Science In Python Path
                    </p>
                    <p>
                        The Pennsylvania State University, State College, PA, USA
                        Bachelor’s in Environmental Systems Engineering (College of Earth and Mineral Science)
                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>


</body>
</html>

